<h1> Contact form </h1>
{% for field in form.fields %}
{% if field.label != 'Captcha' %}
{% block field %}
    <div>{% block field_label %}<strong>{{ field.label }}</strong>{% endblock %}: {% block field_value %}{{ string(form.value(field.name)|e)|nl2br }}{% endblock %}</div>
{% endblock %}
{% endif %}
{% endfor %}