{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="container-fluid contact" style="background-color:#ffeeee">
        <br><br><h3 class="text-center">CONTACT US</h3><br>
        <div class="row">
            <h6>GET TOUCH WITH US!</h6>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-3 color-white">Name</div>
                    <div class="col-sm-9"><input type="text" style="width:100%"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 color-white">Email</div>
                    <div class="col-sm-9"><input type="text" style="width:100%"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 color-white">Message</div>
                    <div class="col-sm-9"><input type="text" style="width:100%"></div>
                </div>
            </div>
            <div class="col-sm-3">Jl. Kalimanjang 9 Surabaya<br>HP: ....<br>Fax: ...</div>
        </div>
        <div class="row">
            <div class="col-sm-5 text-center"><input type="button" value="Submit"></div>
        </div>
        <div class="row">
            <h6>LOCATION</h6>
        </div>
        <div class="row">
            <img src="#" alt="location">
        </div><br><br>
    </div>
{% endblock %}
