{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class"kotak">
		<div class="pertama"></div>
		<div class="kedua"></div>
		<div class="ketiga"></div>
		<div class="keempat">{{ page.content }}</div>
	</div>
{% endblock %}
