{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container"><br><br>
        <div class="row text-center"><span class="dot3"></span>
            <h3 style="display:inline-block"> PATTERN </h3>
            <span class="dot3"></span><br></div>
        <div class="row"><br>
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
            <h3 id="sq">SQUARE</h3><br>
                <div class="row pattern">
                    {{ bagianS() }}
                    {#div closenya ada di php#}
            <br><br><br>
            <h3 id="he">HEXAGONAL</h3><br>
                <div class="row pattern">
                    {{ bagianH() }}
                    {#div closenya ada di php#}
            <br><br><br>
            <br><br><br>
            <h3 id="etc">COLONIAL</h3><br>
                <div class="row pattern">
                    {{ bagianE() }}
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div><br><br><br><br><br>
    <div id="zoomshow">
        <div>
            <div class="pattern-block">
                <button role="button" class="btn btn-default" id="closezoom">X</button>
                <img class="img-responsive zoomi">
                <div class="pattern-text"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
