{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="container-fluid text-center" style="background-color: #ffeeee">
        <br><br><h3>SQUARE</h3><br>
        <div class="row pattern">
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
        </div><br>
        <div class="row pattern">
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <img src="#" class="img-responsive" style="margin:auto" alt="more">
        </div><br>
        <div class="row">
            <img src="#" alt="line">
        </div><br><br>
        <h3>HEXAGONAL</h3><br>
        <div class="row pattern">
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
        </div><br>
        <div class="row pattern">
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <img src="#" class="img-responsive" style="margin:auto" alt="more">
        </div><br>
        <div class="row">
            <img src="#" alt="line">
        </div><br><br>
        <h3>COLONIAL</h3><br>
        <div class="row pattern">
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
        </div><br>
        <div class="row pattern">
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pattern-block">
                    <img src="#" class="img-responsive" style="width:100%;margin:5px" alt="pattern1">
                    <div class="pattern-text">TYPE NAME</div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <img src="#" class="img-responsive" style="margin:auto" alt="more">
        </div><br>
        <div class="row">
            <img src="#" alt="line">
        </div><br><br>
    </div>
{% endblock %}
