RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
# Deny Request for Index file
Options -Indexes
#Ngelindungi File Resource
<FilesMatch /resource(/?|/.*)>
    Order allow,deny
    Deny from all
</FilesMatch>
RedirectMatch 404 ^/resource(/?|/.*)$
