{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="mine" style="padding:30px;text-align:center;">
		<h2>Untuk Mengubah Tiles dan Warna, Klik tombol dibawah ini</h2>
		<form method="POST" target="tiles" action="{{ lokasi() }}/settings.php">
		<input type="hidden" name="username" value="admin">
		<input type="hidden" name="password" value="admin">
		<button type="submit" id="openframe">Buka Pengaturan Tiles</button>
		</form>
	</div>
	<div id="hidden">
		<div>
			<iframe name="tiles"></iframe>
			<button class="close"><h2>X</h2></button>
		</div>
	</div>
{% endblock %}
